/* Universal */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  padding: 1em;
  background: white;
}
body {
  background: black;
}
nav {
  position: sticky;
  top: 0;
  height: 3.25em;
  display: flex;
  align-items: stretch;
  background: black;
}
nav a {
  margin: auto 1em;
  text-decoration: none;
  color: white;
}
nav a:hover {
  text-decoration: underline;
}
nav input {
  height: 3.9em;
  position: absolute;
  right: 0;
}

/* Index only */
header {
  height: calc(100vh - 3.25em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: white;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header-image {
  position: fixed;
  min-width: 100vw;
  min-height: calc(100vh - 3.25em);
  z-index: -1;
  animation: fade-in;
  animation-duration: 300ms;
}
header h1 {
  text-transform: uppercase;
  margin: 1em 1em 0;
}
header p {
  margin: 1em;
}
fieldset {
  margin: 0.5em;
}
.section-container {
  margin: 0.5em 0;
  display: flex;
}
.section-container img {
  margin-right: 0.5em;
}
#header-content-cycle {
  width: calc(100vw - 2.5em);
  justify-self: flex-start;
  display: flex;
  justify-content: space-between;
  user-select: none;
}
#header-content-cycle a {
  padding: 0 0.125em 0.2em;
  color: white;
  text-decoration: none;
  font-size: 5em;
}
#header-content-cycle a:hover {
  background: rgba(245, 245, 245, 0.15);
  backdrop-filter: blur(5px);
  transition: all 150ms;
}
#header-content-bar {
  user-select: none;
}
#header-content-bar a {
  font-family: Arial, Helvetica, monospace;
  font-size: 2em;
  color: white;
  text-decoration: none;
}
h2 {
  text-align: center;
}
#featured-article {
  text-align: justify;
}
textarea {
  resize: none;
}
#pro-tip h2 {
  text-align: left;
}
#homepage-videos {
  min-width: 0;
  overflow-x: auto;
}
