/* https://fonts.google.com/share?selection.family=JetBrains%20Mono%7CMontserrat:wght@700%7COpen%20Sans:ital,wght@0,400;0,700;1,400 */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#dark-mode {
  background: #25293a;
  color: lightgrey;
}
#darker-mode {
  background: black;
  color: lightgrey;
}

/* Universal styles */
* {
  margin: 0;
}
body {
  background: black;
  font-family: "Open Sans", sans-serif;
}
main {
  padding: 1em;
  background: white;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  min-height: 3.5em;
}
nav > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav > div a:first-child {
  margin-right: 1em;
  width: 3.5em;
  height: 3.5em;
}
nav > div a img {
  width: 3.5em;
  height: 3.5em;
}
nav > div a:not(:first-child) {
  margin: 0 1em;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
}
nav > div a:hover {
  text-decoration: underline;
}
nav button {
  height: 4.2em;
  width: 4.2em;
  border: 2px solid lightgrey;
  background: black;
  color: lightgrey;
}
nav button:active {
  border: 2px solid grey;
  color: grey;
}
