/* https://fonts.google.com/share?selection.family=JetBrains%20Mono%7CMontserrat:wght@700%7COpen%20Sans:ital,wght@0,400;0,700;1,400 */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#dark_mode {
  background: #25293a;
  color: lightgrey;
}
.dark_mode_inverted {
  background: lightgrey;
}
.light_mode_inverted {
  background: black;
}

/* Universal styles */
* {
  margin: 0;
}
body {
  background: black;
  font-family: "Open Sans", sans-serif;
}
main {
  padding: 1em;
  background: white;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

nav {
  max-width: 48em;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  min-height: 3.5em;
}
nav > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
nav > div a:first-child {
  width: 3.5em;
  height: 3.5em;
}
nav > div a img {
  width: 3.5em;
  height: 3.5em;
}
nav > div a:not(:first-child) {
  margin-left: 1.5em;
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
}
nav > div a:hover {
  text-decoration: underline;
}
nav button {
  height: 24px;
  margin-right: 0.7em;
  border: none;
  background: black;
  color: white;
}
nav button:active {
  color: grey;
}
nav button .material-icons-outlined {
  font-size: 24px;
}

/* IMPORTABLE STUFF */
.small-separator {
  width: 30px;
  height: 4px;
  margin: 0.5em auto;
  border-radius: 2px;
}

/* FAKE WINDOWS (styling will be reorganized later) */

/* Global style */
/* Overall window */
.window {
  width: max-content;
  max-width: calc(100vw - 1em);
}
/* Window header */
.window-header {
  display: flex;
  align-items: center;
}
.window-header-buttons-container {
  display: flex;
  align-items: center;
}
/* Window content */
.window-content {
  display: flex;
}
.window-content p,
.window-content textarea {
  height: 180px;
  font-family: "JetBrains Mono", monospace;
}
.window-content.size-13 p,
.window-content.size-13 textarea {
  font-size: 13.5px;
  letter-spacing: -0.1px;
  line-height: 22px;
}
.window-content.size-13\.5 p,
.window-content.size-13\.5 textarea {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 23px;
}
.window-content.size-14 p,
.window-content.size-14 textarea {
  font-size: 14.5px;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.window-content p {
  width: 40px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
.window-content textarea {
  width: 410px;
  border: none;
  resize: none;
}

/* macOS exclusive */
/* Overall window */
.window.macos {
  border-radius: 11px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.375);
}
/* Window header */
.window.macos .window-header {
  padding: 11px 13px;
  border-radius: 11px 11px 0 0;
  background: #353333;
}
.window.macos .window-header-buttons {
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.window.macos .window-header-buttons:not(:first-of-type) {
  margin-left: 8px;
}
.window.macos .window-header-buttons:nth-of-type(1) {
  background: #ff5b5b;
}
.window.macos .window-header-buttons:nth-of-type(2) {
  background: #fdbe11;
}
.window.macos .window-header-buttons:nth-of-type(3) {
  background: #4bc932;
}
.window.macos .window-title {
  margin-left: 12px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: whitesmoke;
}
/* Window content */
.window.macos .window-content p,
.window.macos .window-content textarea {
  color: whitesmoke;
  background: #1f1e1e;
}
.window.macos .window-content p {
  border-radius: 0 0 0 11px;
  color: darkgrey;
}
.window.macos .window-content textarea {
  border-radius: 0 0 11px 0;
}

/* Windows 10 exclusive */
/* Overall window */
.window.windows10 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.175);
}
/* Window header */
.window.windows10 .window-header {
  padding: 5.5px;
  justify-content: space-between;
  background: #505050;
  flex-direction: row-reverse;
}
.window.windows10 .window-header-buttons {
  height: 10px;
  width: 10px;
  background: url("../images/minimize_maximize_close_icons-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.window.windows10 .window-header-buttons:nth-of-type(1) {
  background-position: 0% 50%;
}
.window.windows10 .window-header-buttons:nth-of-type(2) {
  background-position: 50% 50%;
  margin: 0 36px;
}
.window.windows10 .window-header-buttons:nth-of-type(3) {
  background-position: 100% 50%;
  margin-right: 14px;
}
.window.windows10 .window-title {
  font-size: 12.5px;
  font-family: "Segoe UI", sans-serif;
  font-weight: normal;
  color: #dcdcdc;
}
/* Window content */
.window.windows10 .window-content p,
.window.windows10 .window-content textarea {
  border-radius: 0;
  color: whitesmoke;
  background: #2b2b2b;
}
.window.windows10 .window-content p {
  color: darkgrey;
}
